---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Maintenance from "@/components/Maintenance.astro";

const mockData = [
  {
    name: "Mow the Lawn",
    daysInterval: 14,
    lastDone: new Date(2025, 2, 17), 
  },
  {
    name: "Clean the Bathroom",
    daysInterval: 7,
    lastDone: new Date(2025, 2, 25), 
  },
  {
    name: "Water the Plants",
    daysInterval: 3,
    lastDone: new Date(2025, 2, 27), 
  },
  {
    name: "Change the Air Filter",
    daysInterval: 30,
    lastDone: new Date(2025, 2, 30),
  },
  {
    name: "Take Out the Trash",
    daysInterval: 2,
    lastDone: new Date(2025, 2, 28),
  },
];

---

<BaseLayout>
  <div class="grid gap-12">
    <h1>Homepage</h1>
    {mockData.map((item) => (
      <Maintenance {...item} />
    ))}
  </div>
</BaseLayout>
