---
import Button from "@/components/Button.astro";
import Input from "@/components/Input.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="md:mt-40 flex flex-col md:flex-row gap-8">
    <img src="/public/home.jpg" alt="møllestræde 14" class="w-full md:w-1/2 h-120 object-cover">
    <div id="create-contents" class="w-full md:w-1/2 flex flex-col justify-center">
      <h1 class="text-2xl font-bold mb-4">Opret en ny konto</h1>
      <form class="grid gap-4" id="create-account">
        <Input name="email" label="Your Email" type="email" />
        <Input name="password" label="Your Password" type="password" />
        <Button intent={"accent"}>Opret konto</Button>
      </form>
    </div>
  </div>

  <script>
    import { isInputError } from "astro:actions";
    import { actions } from "astro:actions";

    const createForm = document.querySelector(
      "#create-account"
    ) as HTMLFormElement;

    createForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      const { error, data } = await actions.createAccount.safe(
        new FormData(createForm)
      );
      if (error) {
        console.log(error);
        if (isInputError(error)) {
          console.log(error.fields);
        }
        return;
      }

      window.location.reload();
    });
  </script>
</BaseLayout>
