---
import Button from "@/components/Button.astro";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Firebase Auth",
  description = "Astro tutorial for Firebase Auth",
} = Astro.props;

const { userEmail } = Astro.locals;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="msapplication-TileColor" content="#F46633" />
    <meta name="theme-color" content="#202020" />
    <meta name="color-scheme" content="dark" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body
    class="bg-gradient-to-b from-black to-theme-base text-theme-text text-base relative min-h-screen grid-rows-auto-1fr grid place-items-center"
  >
  {userEmail && 
    <header>
      <div
        id="topbar"
        class="py-8 font-bold text-m flex flex-row items-center justify-center space-x-4"
        aria-label="Firebase and Astro"
      >
      <p>Du er logget ind som, {userEmail}</p>
      <form id="logout-form">
        <Button>Log ud</Button>
      </form>
      </div>
    </header>
    }
    <main class="container grid place-items-center">
      <slot />
    </main>
    <script>
      import { isInputError } from "astro:actions";
      import { actions } from "astro:actions";
  
      const logout = document.querySelector("#logout-form") as HTMLFormElement;
  
      logout.addEventListener("submit", async (e) => {
        e.preventDefault();
        const { error, data } = await actions.logoutAccount.safe();
        if (error) {
          console.log(error);
          if (isInputError(error)) {
            console.log(error.fields);
          }
          return;
        }
  
        window.location.reload();
      });
    </script>
  </body>
</html>
